.row > td {
    padding: 0.75rem;
    font-size: 0.9rem;
    border-top: 1px solid black;
}

.row > td:first-child {
    width: 15%;
}

.row > td:nth-child(2) {
    width: 45%;
}

.row > td:nth-child(n+3) {
    width: 10%;
}


.url {
    text-decoration: none;
    color: #005288;
    text-transform: uppercase;
    font-size: 0.75rem;
}